.main{
    width: 600px;
    height: 600px;
    background-color: red;
}
#row1{
    width: 600px;
    height: 200px;
    background-color: green;
}
#row2{
    width: 600px;
    height: 200px;
    background-color: yellow;
    text-align: center;
}
#row3{
    width: 600px;
    height: 200px;
    background-color: palevioletred;
}
.col1{
    height: 200px;
    width: 200px;
    background-color: red;
    float: left;
    text-align: center;
}
.col2{
    height: 200px;
    width: 200px;
    background-color: blue;
    float: left;
    text-align: center;
}
.col3{
    height: 200px;
    width: 200px;
    background-color: green;
    float: left;
    text-align: center;
}
.col4{
    height: 200px;
    width: 300px;
    background-color: aqua;
    float: left;
    text-align: center;
}
.col5{
    height: 200px;
    width: 300px;
    background-color: rgb(60, 255, 0);
    float: left;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}